# Node modules
node_modules/

# Metro files
*.metro.config.js
*.metro.cache

# Logs
*.log

backend/src/config.js
frontend/config.js

backend\src\services\comparingSupermarkets\__pycache__/
*.pyc
*.pyo

.env

.gitignore